/* Master CSS for Islamic Names Website */

/* ================================================ VARIABLES ============================= */
:root {
  --font-family: 'Poppins', 'Segoe UI', sans-serif;
  --font-size: 16px;

  --primary: #009688;
  --primary-light: #26a69a;
  --primary-most-light: #ccf0ee;
  --primary-bg: #f5f7fa;
  --secondary: #4e9f3d;

  --accent: #ffc107;
  --yellow: #ffeb3b;
  --light-yellow: #fcf08a;

  --text: #222;
  --text-color: #222;
  --text-muted: #555;
  --white: #fff;
  --bg-color: #f9f9f9;

  --shadow: 1px 2px 15px var(--primary);
  --card-radius: 10px;
  --radius: 10px;

  --dark-bg: #121212;
  --dark-text: #e0e0e0;
  --dark-primary: #004d40;

  --urdu-bg: #fff8e1;
  --urdu-text: #3e2723;
  --urdu-accent: #b68973;
}

/* ================================================ GLOBAL STYLES ============================= */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Trebuchet MS', sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-size: var(--font-size);
  line-height: 1.6;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  text-align: justify;
}


/* =================================== MAIN FRONT PAGE ======================================== */

.main-front-page {
  position: relative;
  height: 85vh;
  width: 100%;
  box-shadow: var(--shadow);
  border-radius: 0 0 1rem 1rem;
}

.result-upper-container {
  height: 90vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: inherit;
  position: relative;
  overflow-y: scroll;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 0;
}

.content {
  position: relative;
  z-index: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--white);
  padding: 12px;
}

.search-box {
  position: relative;
  text-align: center;
  margin-bottom: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.search-box input {
  padding: 12px 20px;
  z-index: 1001;
  font-size: 1.3rem;
  border: 1px solid var(--primary-light);
  border-radius: 30px;
  width: 70%;
  outline: none;
  transition: box-shadow 0.3s;
}

.search-box input:focus {
  border-bottom: 3px solid var(--primary);
  box-shadow: 0 0 15px var(--white);
}


input:focus {
  box-shadow: 0 0 10px #fff;
}

#resultsList {
  position: absolute;
  top: 100%;
  display: block;
  z-index: 1000;
  background: var(--bg-color);
  color: #333;
  list-style: none;
  line-height: 2.5;
  border-radius: 7px 7px 2rem 2rem;
  margin-top: -2rem;
  padding-top: 2rem;
  max-height: 250px;
  overflow-y: auto;
  width: 70%;
  scrollbar-width: none;
}

#resultsList li a {
  display: block;
  border-radius: 0 0 2rem 2rem;
  font-weight: 500;
  text-transform: capitalize;
  width: 100%;
  color: var(--text-color);
  background-color: var(--bg-color);
  padding: 10px 20px;
  cursor: pointer;
  transition: background 0.3s;
  border-bottom: #bfc2c1 1px solid;
}

#resultsList li a:hover {
  background: var(--primary-most-light);
  border-bottom: #bfc2c1 2px solid;

}

h1 {
  font-size: 2.8rem;
  margin-bottom: 15px;
}

h2 {
  text-align: center;
  font-size: 1.8rem;
  margin-bottom: 30px;
}

.typewriter {
  margin-top: 20px;
  font-size: 1.5rem;
  font-weight: 600;
  min-height: 2.4rem;
  color: var(--yellow);
  border-right: 3px solid var(--yellow);
  white-space: nowrap;
}

/* =================================== MAIN FRONT PAGE RESPONSIVE STYLES ======================================== */

@media (max-width: 600px) {
  h1 {
    font-size: 2rem;
    text-align: center;
  }

  h2 {
    font-size: 1rem;
  }

  .typewriter {
    font-size: 1rem;
  }

  .search-box input {
    width: 90%;
    padding: 12px 20px;
  }

  .main-front-page {
    height: 70vh;
  }
}

/* =================================== MAIN FRONT PAGE RESPONSIVE STYLES COMPLETED ============================= */

/* =================================== MAIN FRONT PAGE COMPLETED =============================================== */

/* =================================== MAIN FRONT PAGE SECOND CONTAINER ======================================== */
.second-container-front-page {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  padding: 50px 20px;
  background: var(--primary-most-light);
  gap: 20px;
  /* Add gap for spacing between items */
}

.left,
.right {
  flex: 1;
  text-align: center;
}

.left img {
  max-width: 70%;
  border-radius: 15px;
  box-shadow: 0 4px 20px var(--primary-most-light);
}

.right {
  min-width: 300px;
  padding: 20px;
  color: var(--primary-light);
}

.left img {
  width: 70%;
  border-radius: 10px;
  box-shadow: var(--shadow);
}

.right h2 {
  text-decoration: underline;
  color: var(--primary);
  margin-bottom: 20px;
}

.right p {
  font-size: 1.1rem;
  margin-bottom: 20px;
  color: var(--primary-light);
  text-align: justify;
}

.right ul {
  list-style: none;
  padding: 0;
  margin-bottom: 30px;
  text-align: justify;
}

.right li {
  margin-bottom: 15px;
  font-size: 1rem;
}

.right a {
  text-decoration: none;
}

.right a span {
  transition: all 0.3s ease-in-out;
}

#button-en a:hover span {
  padding-left: 40px;
}

#button-ur:hover span {
  padding-right: 40px;
}

.right .button {
  display: inline-block;
  width: 80%;
  text-align: center;
  align-content: center;
  padding: 12px 25px;
  background: var(--primary-light);
  color: var(--white);
  border-radius: 30px;
  font-weight: 500;
  text-decoration: none;
  font-size: 1.1rem;
  transition: 0.3s;
  overflow: hidden;
}

.right .button:hover {
  background: var(--primary);
}

/* =================================== MAIN FRONT PAGE SECOND CONTAINER RESPONSIVE STYLES ======================== */
@media (max-width: 850px) {
  .second-container-front-page {
    flex-direction: column;
    align-items: center;
    padding: 30px 10px;
  }

  .left img {
    width: 90%;
    max-width: 400px;
  }

  .name-card {
    width: 10.5em;
  }
}

@media (max-width: 768px) {



  .right {
    width: 90%;
    text-align: center;
  }

  .right h2 {
    font-size: 1.5rem;
  }

  .right p,
  .right li {
    font-size: 1rem;
  }

  .right .button {
    padding: 10px 20px;
    font-size: 1rem;
  }
}


/* ====================================== MAIN VIEW SECOND CONTAINER COMPLETED ================================ */

/* ===== NAMES SLIDER SECTION ===== */

.names-slider-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 2rem;
  overflow: hidden;
}

.names-section {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  padding: 1em;
  scrollbar-width: none;
}

.names-section::-webkit-scrollbar {
  display: none;
}

.name-card {
  flex: 0 0 auto;
  width: 17em;
  background: var(--white);
  padding: 2rem 10px;
  border-radius: var(--card-radius);
  text-align: center;
  box-shadow: 1px 1px 8px var(--white);
  transition: all 0.3s;
  cursor: pointer;
  position: relative;
}

.ur_content {
  font-family: 'Jameel Noori Nastaleeq', sans-serif;
}


.name-card::after {
  content: '';
  position: absolute;
  inset: -3px;
  background: conic-gradient(from var(--angle), white, white, #ee386b, #ff0000, #11ebff, white, white, #a0e00a, #f1ff2a, rgb(41, 219, 210));
  z-index: -2;
  border-radius: var(--card-radius);
}

.name-card::after {
  animation: animate-border 3.5s linear infinite;
}

.name-card:hover {
  box-shadow: var(--shadow);
}

.name-card h2 {
  text-align: center;
  font-size: 1.5rem;
  width: 100%;
  color: var(--primary);
  margin-bottom: 0.5rem;
  text-transform: capitalize;
  font-weight: 600;
}


.name-card .meaning {
  font-size: 0.95rem;
  margin: 0.5rem 0 1rem;
  color: var(--text-muted);
}

.ur_content .meaning {
  font-size: 1.3rem;
}

.details-btn {
  background: var(--primary-light);
  color: var(--white);
  padding: 8px 20px;
  border-radius: 5px;
  text-decoration: none;
  border: none;
  cursor: pointer;
  font-weight: 500;
  transition: 0.3s;
}

.details-btn:hover {
  background: var(--primary);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.arrow-btn {
  background: var(--primary-most-light);
  color: #fff;
  border: none;
  line-height: 1px;
  height: 3em;
  padding: 10px 12px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 1.2rem;
  transition: background 0.3s ease;
  z-index: 2;
}

.arrow-btn:hover {
  background: var(--primary);

}

.more-names-container {
  font-size: 1.2rem;
  padding: 2.5rem;
  text-align: center;
}

/* ================================= NAMES SECTION COMPLETED ======================================== */

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

@keyframes animate-border {
  from {
    --angle: 53deg;
  }

  to {
    --angle: 413deg;
  }
}

@media (max-width: 850px) {
  .name-card {
    width: 90%;
  }

  .details-btn {
    padding: 3px 12px;
    font-weight: 300;
    transition: 0.3s;
  }

  .name-card h2 {
    font-size: 1.2rem;
    width: max-content;
  }
}




/* ============================== Urdu Styles ====================================================== */
.typewriter-ur {
  margin-top: 20px;
  font-size: 1.5rem;
  font-weight: 600;
  height: 30px;
  color: var(--yellow);
  border-left: 3px solid var(--yellow);
  white-space: nowrap;
}




/* ======================= ALL NAMES PAGE STYLING ========================== */

.all-names-section {
  max-width: 1100px;
  margin: 0 auto;
  padding: 2rem 0;
  background: var(--white);
  border-radius: 12px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.05);
}

.all-names-section h1 {
  text-align: center;
  color: var(--primary);
  margin-bottom: 1.5rem;
  font-size: 2rem;
}

/* Alphabet Buttons */
.alphabets {
  text-align: center;
  margin-bottom: 2rem;
  flex-wrap: wrap;
  width: 82%;
  gap: 8px;
}

.alphabets button,
.filter-btn {
  margin: 4px;
  padding: 8px 14px;
  font-size: 1rem;
  min-width: 3.5rem;
  border: 3px double var(--primary-light);
  border-radius: 5px;
  color: var(--primary);
  cursor: pointer;
  transition: all 0.3s;
}

.alphabets button:hover,
.filter-btn:hover {
  background: var(--primary);
  color: var(--white);
}

/* Name Cards */
.names-section {
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  gap: 1.5rem;
}

#resultsContainer {
  position: absolute;
  top: 10px;
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: inherit;
}

#allNamesMain .name-card {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  background: var(--white);
  padding: 1rem;
  border-radius: 10px;
  text-align: center;
  text-transform: capitalize;
  align-content: center;
  box-shadow: 0px 0px 12px rgba(114, 113, 113);
  transition: 0.3s;
}

.name-card .details-btn {
  background: var(--primary-light);
  color: white;
  padding: 8px 14px;
  border-radius: 5px;
  text-decoration: none;
  display: inline-block;
  font-size: 0.95rem;
  transition: background 0.3s;
}

.name-card .details-btn:hover {
  background: var(--primary);
}


/* ================================= ALL NAMES PAGE STYLES ======================================== */

.all-names-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1.2rem;
  gap: 20px;
  width: 100%;
  background: rgb(238, 236, 236);
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.877);
}

.search-filter-container {
  width: 80%;
  text-align: center;
}

.search-filter-container input {
  width: 90%;
  padding: 12px;
  font-size: 18px;
  border-radius: 8px;
}

.alphabet-filter {
  text-align: center;
  line-height: 4;
  width: 75%;
}

.alphabet-filter .filter-btn {
  margin: 5px;
  padding: 10px 15px;
  border: 1px solid #4caf50;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  transition: background 0.3s;
}

.alphabet-filter .filter-btn:hover {
  background-color: #4caf50;
  color: #fff;
}

.all-names-list {
  width: 80%;
  min-height: 55vh;
}

#namesContainer ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  align-items: center;
}

#namesContainer li {
  list-style: none;
  width: 230px;
  box-shadow: var(--shadow);
  transition: transform 0.3s, box-shadow 0.3s;
}

#allNamesSection {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#allNamesMain {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

#allNamesSection {
  gap: 9px;
}

#allNamesSection .name-card {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  background: var(--white);
  border-radius: var(--card-radius);
}

#allNamesSection .name-card:hover {
  box-shadow: var(--shadow);
}

/*  Contact Page Section */

.contact-section {
  max-width: 800px;
  margin: 50px auto;
  background-color: var(--white);
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-title {
  border-bottom: 2px solid var(--primary);
}

.contact-section h1,
.contact-section h2 {
  color: var(--primary);
}

.contact-info p {
  margin: 10px 0;
}

.contact-info a {
  color: blue;
  text-decoration: none;
}

.contact-info a:hover {
  text-decoration: underline;
}

.contact-form {
  margin-top: 20px;
}

.contact-form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: inherit;
}

.contact-form button {
  background-color: var(--primary-light);
  color: white;
  padding: 10px 25px;
  border: none;
  font-weight: 400;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.contact-form button:hover {
  background-color: var(--primary);
}

/*  Loder */

.loader {
  width: 40px;
  aspect-ratio: 1;
  color: #f03355;
  position: relative;
  background: radial-gradient(10px,currentColor 94%,#0000);
}
.loader:before {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: 50%;
  background:
    radial-gradient(9px at bottom right,#0000 94%,currentColor) top    left,
    radial-gradient(9px at bottom left ,#0000 94%,currentColor) top    right,
    radial-gradient(9px at top    right,#0000 94%,currentColor) bottom left,
    radial-gradient(9px at top    left ,#0000 94%,currentColor) bottom right;
  background-size: 20px 20px;
  background-repeat: no-repeat;
  animation: l18 1.5s infinite cubic-bezier(0.3,1,0,1);
}
@keyframes l18 {
   33%  {inset:-10px;transform: rotate(0deg)}
   66%  {inset:-10px;transform: rotate(90deg)}
   100% {inset:0    ;transform: rotate(90deg)}
}